html {
  font-family: 'Nunito', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #ECECEC;
}

.container {
  margin: 0 auto;
  width: 90%;
}

header {
  background: $primary_color;
  padding: 1em 0;
  text-align: center;

  .navbar {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }

  a {
    color: #ffffff;
    text-decoration: none;
  }

  nav {
    display: flex;

    ul {
      display: flex;
      list-style-type: none;
      padding: 0;

      li a {
        font-weight: normal;
        padding: .5em;
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  main li {
    display: grid;
    grid-template-columns: 200px auto;
    grid-column-gap: 1em;
  }
}

.hero {
  background-color: $primary_color;
  color: #ffffff;
  text-align: center;
  padding-top: 2em;

  h1 {
    margin-bottom: .5em;
    font-size: 2.5em;
  }

  .hire {
    display: inline-block;
    background-color: darken($primary_color, 15%);
    padding: .5em 3em;
    margin: 4em 0 4em;
    border-radius: 10px;
    color: $accent-color;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.container ul {
  list-style-type: none;
  padding: 0;
}

main {

  li {
    background-color: #ffffff;
    border-radius: 1em;
    padding: .8em;
    margin: 1em 0;
    box-shadow: 15px 21px 40px 0 rgba(0, 0, 0, 0.04);
  }

  .img {
    position: relative;

    span {
      position: absolute;
      bottom: 3%;
      right: 3%;
      font-size: .8em;
    }
  }

  img {
    width :100%;
    border-radius: .5em;
  }

  .content {
    padding: .5em;
  }

  a {
    font-size: 1.5em;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    display: block;
    margin: -.1em 0 .2em;
  }

  h2 {
    margin-top: 3em;
    text-transform: uppercase;
    font-size: .8em;
  }
}



